// A-SETTINGS/VARIABLES - Buttons

$btn-height         : $input-height;
$btn-padding        : 10px;
$btn-text-align     : center;
// $btn-border-width   : 1px;
// $btn-border-style   : solid;
// $btn-border-colour  : orange;

$btn-small          : 14px;
$btn-large          : 18px;
