// A-SETTINGS/VARIABLES - Global

// $font-url 				        : '';

$font-size-px             : 16px;
$line-height-multiplier   : 1.5;
$line-height-px           : $font-size-px * $line-height-multiplier;
