// A-SETTINGS/VARIABLES - Paths

// elements
$headings   				  : false;
$typeQuotes           : false;
$typeStrong           : false;
$typeAbbr             : false;
$typeSmall            : false;
$forms                : false;
$inputs 						  : false;
$links  						  : false;
$lists 			 				  : false;
$embedded 					  : false;
$tables 						  : false;

// objects
$o-container 				  : false;
$o-grid-flexbox 			: false;
$o-grid-float    			: false;

// utilities/helpers
$u-widths-flexbox     : false;
$u-colours 		        : false;
$u-visibility 	      : false;
$u-spacings           : false;
$u-flexbox            : false;
