// A-SETTINGS/VARIABLES - Typography

$font-family           : 'Open Sans', sans-serif;
$font-size 			       : 100%;
$line-height 	         : $line-height-px / $font-size-px;

$heading-font-family   : inherit;
$heading-font-weight   : 300;

$font-family-alt 		   : Cambria, Georgia, Times, "Times New Roman";
$font-family-code 	   : Monaco, Courier New, monospace;
