// COMPONENT - Tabs

.c-tabs {
  &_list {
    display: flex;
  }
  &_tab {
    flex: 1;
  }
  &_link {
    display: block;
    @include vr(18px, 2, 0);
    text-align: center;
    cursor: pointer;
  }
  &_content {
    display: none;
    padding: $rhythm $gutter;

      &.isActive {
        display: block;
      }
  }
  &_contentTitle {
    display: none;
  }

  // styles for JavaScript being disabled
  .no-js & {
    &_list {
      display: none;
    }
    &_content, &_contentTitle {
      display: block;
    }
    &_content {
      margin-bottom: $rhythm;
    }
  }

  // Component styles
  &-component {
    border: 1px solid darken(colour(brand, b),8);

    .c-tabs_tab:not(:last-child) {
      border-right: 1px solid darken(colour(brand, b),8);
    }
    .c-tabs_link {
      background: colour(brand, b);

        &.isActive, &:hover {
          color: colour(brand, b);
          background: colour(brand, c);
        }
    }
   .c-tabs_content {
     color: colour(brand, b);
     background: colour(brand, c);
   }
  }

  // Information styles
  &-info {
    margin-bottom: $rhythm * 2;

    .c-tabs_list {
      border-top: 1px solid colour(brand, b);
    }
    .c-tabs_link {
      background: lighten(colour(brand, b),6);
      border-right: 1px solid colour(brand, b);
      border-bottom: 1px solid colour(brand, b);

        &.isActive, &:hover {
          background: white;
          border-bottom: none;
        }
    }
  }

}
