---
title: UI-Components - Home
desc: Needs updating
pageId: js-index
pageClass: c-indexPage
pageCss: index
componentList: [
{
  name: 'Tabs',
  url: '/tabs.html'
},
{
  name: 'Tabs',
  url: '/tabs.html'
}
]
---

{% extends "default.html" %}

{% block icons %}
  {% include "icons-index.nunjucks" %}
{% endblock %}

{% block content %}

  <div class="o-container">
    {% include "component-list.nunjucks" %}
  </div>

  <!-- {% import "buttons.nunjucks" as buttons %}
  {{ buttons.btnAnchor('http://google.co.uk', 'button', 'c-btn-a') }} -->

{% endblock %}
