---
title: UI-Components - Tabs
desc: Needs updating
pageId: js-tabs
pageClass: c-tabsPage
pageCss: tabs
componentName: Tabs
---

{% extends "default.html" %}

{% block icons %}
  {% include "icons-index.nunjucks" %}
{% endblock %}

{% block content %}

  <section class="o-container u-mb3">

    <h2>{{ componentName }}</h1>

      {% import "tabs.nunjucks" as tabs %}
      {{ tabs.tabComponent(
        'tabComponent',
        'component',
        [
          {
            name: "Tab 1",
            content: "Tab 1 content...",
            isActive: true
          },
          {
            name: "Tab 2",
            content: "Tab 2 content..."
          },
          {
            name: "Tab 3",
            content: "Tab 3 content..."
          },
          {
            name: "Tab 4",
            content: "Tab 4 content..."
          }
        ]
      )}}

  </section>

  {% import "tabs.nunjucks" as tabs %}
  {{ tabs.tabComponent(
    'tabComponentInfo',
    'info',
    [
      {
        name: "Details",
        content: "Details...",
        isActive: true
      },
      {
        name: "HTML",
        content: "HTML..."
      },
      {
        name: "CSS",
        content: "CSS..."
      },
      {
        name: "JS",
        content: "JS..."
      }
    ]
  )}}


{% endblock %}
