// B-TOOLS/MIXINS - Position

@mixin position($position, $args) {
  position: $position;
  $offsets: top right bottom left;

  @each $o in $offsets {
    $i: index($args, $o);

    @if $i and $i + 1 <= length($args) and type-of( nth($args, $i + 1) ) == number {
      #{$o}: nth($args, $i + 1);
    }
  }
}

@mixin absolute($args) {
  @include position(absolute, $args);
}

@mixin fixed($args) {
  @include position(fixed, $args);
}

@mixin relative($args) {
  @include position(relative, $args);
}
