// B-TOOLS/MIXINS - Table responsive

@mixin table-responsive($bpMax) {
  @include bp($bpMax, max) {
    table,
    thead,
    tbody,
    tr,
    th,
    td {
      display: block;
    }
    thead tr {
      @include vh;
    }
    td {
      position: relative;
      padding: rem(12px) 0 rem(4px) 70%;
      &::before {
        position: absolute;
        top: rem(12px);
        left: 0;
        width: 25%;
        white-space: nowrap;
        content: attr(title);
      }
    }
  }
}
