// D-ELEMENTS - Headings

@if $headings {

  h1, h2, h3, h4 {
    font-family: $heading-font-family;
    font-size: inherit;
    font-weight: $heading-font-weight;
  }

  h2 {
    @include vr(18px, 1, 1);
    text-transform: uppercase;
    color: colour(brand, a);
  }

}//end if $headings
